<style>
	.view-form-icon .quantity div input {
		height: 34px;
		font-size: 20px;
	}
</style>
<section class="user-view">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{'Order Entry' | r}}</h3>
		</div>
		<div class="panel-body">
			<div class="col-sm-3">
				<shortcartview></shortcartview>
			</div>
			<div class="col-sm-9 view-form-icon">
				<form name="quick_add_form" ng-submit="addToOrder()">
					<div class="row view-form-icon">
						<div class="col-sm-8">
							<input type="text" ng-model="LineItem.Product" placeholder="{{'Item Number' | r}}" typeahead="product as product.Name for product in getEligibleProducts($viewValue)"
							       typeahead-loading="loadingQuickAddProduct" typeahead-wait-ms="500" class="form-control" required>
							<i class="fa fa-spin"></i>
						</div>
						<div class="col-sm-2">
							<quantityfield ng-disabled="!LineItem.Product" required="true" lineitem="LineItem" class="quantity" />
						</div>
						<div class="col-sm-2">
							<button class="btn btn-primary pull-right" type="submit" ng-disabled="quick_add_form.$invalid" value="{{'Add To Cart' | r}}">
								{{(LineItem.LineTotal || variantLineItemsOrderTotal) | culturecurrency}} {{'Add To Cart' | r}}
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-9">
							<quickorderproductview></quickorderproductview>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="view-response-message alert-success text-center" style="padding-top:0; padding-bottom:0;" alert-show="currentOrder">
								<p style="margin-bottom: 0px;marign-top:5px;">{{quickAddMessage | r}}</p>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>