<div class="short-cart-view">
    <div ng-if="currentOrder" class="CartDetail">
        <form name="cart">
            <div>
                <h4>
                    {{'Current Order' | r}} ({{currentOrder.LineItems.length}}) {{'Item' + (currentOrder.LineItems.length > 1 ? 's' : '') | rl}}
                </h4>
                <div class="row" ng-repeat="Item in currentOrder.LineItems">
                    <div class="col-xs-7">
                        <div>{{Item.Product.Name}}</div>
                        <div><small>{{Item.ProductIDText}}</small></div>
                    </div>
                    <div class="col-xs-2">
                        {{Item.Quantity}}
                    </div>
                    <div class="col-xs-2">
                        {{Item.LineTotal | currency}}
                    </div>
                    <div class="col-xs-1">
                        <span>
                            <button ng-click="removeLineItem(Item.InteropID)"><i title="Remove" rel="tooltip" class="fa fa-remove text-primary"></i></button>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button redirect="checkout" class="btn btn-primary pull-right">Checkout</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>