<style>
    .fa-minus-square:before {
        content: "\f146";
    }
</style>
<div class="short-cart-view" ng-show="currentOrder">
    <table class="table table-striped table-hover" style="background-color: #FFF">
        <thead>
            <tr>
                <th>{{'Product' | r}}</th>
                <th>{{'Quantity' | r}}</th>
                <th>{{'Total' | r}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="Item in currentOrder.LineItems">
                <td>
                    <div>{{Item.Product.Name}}</div>
                    <div><small>{{Item.ProductIDText}}</small></div>
                </td>
                <td>
                    {{Item.Quantity}}
                </td>
                <td>
                    {{Item.LineTotal | currency}}
                </td>
                <td>
                    <i ng-click="removeLineItem(Item)" style="cursor: pointer;" class="fa fa-minus-square"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <button redirect="checkout" class="btn btn-primary btn-xs pull-right">Checkout</button>
</div>
