<div class="short-cart-view">
    <div ng-if="currentOrder" class="CartDetail">
        <form name="cart">
            <div>
                <h4>
                    {{'Current Order' | r}} ({{currentOrder.LineItems.length}}) {{'Item' + (currentOrder.LineItems.length > 1 ? 's' : '') | rl}}
                </h4>
                <div class="row" ng-repeat="Item in currentOrder.LineItems">
                    <h5 class="col-xs-2">
                        {{Item.ProductIDText}}
                    </h5>
                    <div class="col-xs-6">
                        {{Item.Product.Name}}
                    </div>
                    <div class="col-xs-2">
                        {{Item.Quantity}}
                    </div>
                    <div class="col-xs-2">
                        {{Item.LineTotal | currency}}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>